/*!
 * All Rights Reserved
 * This software is proprietary information of
 * Intelligent Sense
 * Use is subject to license terms.
 * Filename: style.css
 */


body{
	width: 800px;
	border: 1px solid #000;
	padding: 25px;
	margin: 0px auto;
}

header h1{
	text-align: center;
}

article{
	display: flex;

	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
}

section{
	width: 200px;
	height: 330px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

@media screen and (max-width:799px){
	body{
		width: 80%;
	}
}

@media screen and (max-width:550px){
	section{
		width: 90%;
		height: 330px;
	}
}

@media screen and (max-width:320px){
	section{
		width: 200px;
		height: 330px;
	}
}

p{
	color: #FFF;
	padding: 10PX;
}

#p-facebook{
	font-family: 'Open Sans', sans-serif;
}

#p-twitter{
	font-family: "Times New Roman", Times, serif;
}

#p-instagram{
	font-family: Arial, Helvetica, sans-serif;
}

.facebook{
	background-color: #4149EF;
}

.twitter{
	background-color: #5391F4;
}

.instagram{
	background-color: #5D2D0F;
}

#img-facebook {
	background: url('imgs/Redes-Sociales.png') no-repeat -60px -62px;
	width: 51px;
	height: 50px;
	margin-bottom: 30px;	
}

#img-facebook:hover {
	background: url('imgs/Redes-Sociales.png') no-repeat -60px -5px;
}

#img-twitter {
	background: url('imgs/Redes-Sociales.png') no-repeat -3px -62px;
	width: 51px;
	height: 50px;
	margin-bottom: 30px;
}

#img-twitter:hover {
	background: url('imgs/Redes-Sociales.png') no-repeat -3px -5px;
}

#img-instagram {
	background: url('imgs/Redes-Sociales.png') no-repeat -117px -62px;
	width: 51px;
	height: 50px;
	margin-bottom: 30px;
}

#img-instagram:hover {
	background: url('imgs/Redes-Sociales.png') no-repeat -117px -5px;
}