/*!
 * All Rights Reserved
 * This software is proprietary information of
 * Intelligent Sense
 * Use is subject to license terms.
 * Filename: style.css
 */
 body{
	border: 1px solid #000;
	width: 800px;
	padding: 25px;
	margin: 0 auto;

}

header h1{
	text-align: center;
}

article{

	overflow: hidden;
	width: 800px;
	margin: 0 auto;
}

section{
	width: 200px;
	height: 330px;
}

p{
	color: #FFF;
	padding: 10PX;
}

#p-facebook{
	font-family: 'Open Sans', sans-serif;
}

#p-twitter{
	font-family: "Times New Roman", Times, serif;
}

#p-instagram{
	font-family: Arial, Helvetica, sans-serif;
}

.facebook{
	float: left;
	background-color: #4149EF;
	margin-right: 100px;
}

.twitter{
	float: left;
	background-color: #5391F4;
	margin-right: 100px;
}

.instagram{
	float: left;
	background-color: #5D2D0F;
}

#img-facebook {
	background: url('imgs/Redes-Sociales.png') no-repeat -60px -62px;
	width: 51px;
	height: 50px;
	margin-left: 75px;
	margin-top: 40px;
}

#img-facebook:hover {
	background: url('imgs/Redes-Sociales.png') no-repeat -60px -5px;
}

#img-twitter {
	background: url('imgs/Redes-Sociales.png') no-repeat -3px -62px;
	width: 51px;
	height: 50px;
	margin-left: 75px;
	margin-top: 35px;
}

#img-twitter:hover {
	background: url('imgs/Redes-Sociales.png') no-repeat -3px -5px;
}

#img-instagram {
	background: url('imgs/Redes-Sociales.png') no-repeat -117px -62px;
	width: 51px;
	height: 50px;
	margin-left: 75px;
}

#img-instagram:hover {
	background: url('imgs/Redes-Sociales.png') no-repeat -117px -5px;
}