/*!
 * All Rights Reserved
 * This software is proprietary information of
 * Intelligent Sense
 * Use is subject to license terms.
 * Filename: style.css
 */

body{
	width: 800px;
	margin: 0px auto;
	padding: 25px;
}

.container {
	width: 100%;
	border: 1px solid #000;
	padding: 25px;
}

header h1{
	text-align: center;
}

article{
	width: 200px;
	height: 330px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

p{
	color: #FFF;
	padding: 10PX;
}

#p-facebook{
	font-family: 'Open Sans', sans-serif;
}

#p-twitter{
	font-family: "Times New Roman", Times, serif;
}

#p-instagram{
	font-family: Arial, Helvetica, sans-serif;
}

.facebook{
	background-color: #4149EF;
}

.twitter{
	background-color: #5391F4;
}

.instagram{
	background-color: #5D2D0F;
}

#img-facebook {
	background: url('imgs/Redes-Sociales.png') no-repeat -60px -62px;
	width: 51px;
	height: 50px;
	margin-bottom: 30px;	
}

#img-facebook:hover {
	background: url('imgs/Redes-Sociales.png') no-repeat -60px -5px;
}

#img-twitter {
	background: url('imgs/Redes-Sociales.png') no-repeat -3px -62px;
	width: 51px;
	height: 50px;
	margin-bottom: 30px;
}

#img-twitter:hover {
	background: url('imgs/Redes-Sociales.png') no-repeat -3px -5px;
}

#img-instagram {
	background: url('imgs/Redes-Sociales.png') no-repeat -117px -62px;
	width: 51px;
	height: 50px;
	margin-bottom: 30px;
}

#img-instagram:hover {
	background: url('imgs/Redes-Sociales.png') no-repeat -117px -5px;
}

@media screen and (max-width: 320px){
	article{
		width: 200px;
		height: 350px;
	}
}

@media screen and (max-width: 799px){
	body{
		width: 100%;
	}
}

@media screen and (max-width : 480px) {
	body{
		padding: 0px;
	}

	.conteiner{
		padding: 0px;
	}
}

@media screen and (max-width: 767px) {
	.facebook {
		background-color: #782740;
	}
	.instagram {
		background-color: #782740;
	}
	.twitter {
		background-color: #782740;
	}
}
@media screen and (min-width: 768px) and (max-width: 990px) {
	.facebook {
		background-color: #f42929;
	}
	.instagram {
		background-color: #f42929;
	}
	.twitter {
		background-color: #f42929;
	}
}
@media screen and (min-width: 991px) and (max-width: 1198px) {
	.facebook {
		background-color: #27782d;
	}
	.instagram {
		background-color: #27782d;
	}
	.twitter {
		background-color: #27782d;
	}
}