/*!
 * All Rights Reserved
 * This software is proprietary information of
 * Intelligent Sense
 * Use is subject to license terms.
 * Filename: main.scss/main.css
 */
/* line 5, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*!
 * All Rights Reserved
 * This software is proprietary information of
 * Intelligent Sense
 * Use is subject to license terms.
 * Filename: _variables.scss
 */
/*!
 * All Rights Reserved
 * This software is proprietary information of
 * Intelligent Sense
 * Use is subject to license terms.
 * Filename: _mixins.scss
 */
/*!
 * All Rights Reserved
 * This software is proprietary information of
 * Intelligent Sense
 * Use is subject to license terms.
 * Filename: _style.scss
 */
/* line 10, ../sass/_style.scss */
body, .row {
  margin: 0 auto;
}

/* line 14, ../sass/_style.scss */
body {
  height: 100%;
  border-top: 10px solid #000000;
  background-image: url(../img/bg.png);
  background-repeat: repeat;
}

/* line 21, ../sass/_style.scss */
header,
footer,
.row,
.box-intro,
.group-12 {
  width: 100%;
}

/* line 29, ../sass/_style.scss */
header {
  height: 100px;
}
/* line 33, ../sass/_style.scss */
header img {
  margin: 16px 13px 8px 0;
  padding: 8px;
}

/* line 39, ../sass/_style.scss */
nav {
  width: 540px;
  top: 35px;
  right: 3px;
  border-top: 1px solid #888888;
  border-bottom: 1px solid #888888;
  position: absolute;
}
/* line 47, ../sass/_style.scss */
nav ul {
  list-style: none;
}
/* line 50, ../sass/_style.scss */
nav ul li {
  float: left;
  margin-left: 12px;
  line-height: normal;
}
/* line 55, ../sass/_style.scss */
nav ul li a {
  display: block;
  margin: 10px 10px 10px 0px;
  color: #000000;
  margin-top: 10px;
  padding-bottom: 5px;
}
/* line 62, ../sass/_style.scss */
nav ul li :hover {
  color: #888888;
  text-decoration: none;
}

/* line 70, ../sass/_style.scss */
footer {
  height: 90px;
  clear: both;
  background-color: #000000;
}
/* line 75, ../sass/_style.scss */
footer .footer-box {
  margin: 40px;
  color: #FFFFFF;
}
/* line 80, ../sass/_style.scss */
footer a {
  text-decoration: underline;
  color: #888888;
}

/* line 86, ../sass/_style.scss */
h3,
h4,
h5 {
  text-align: left;
  display: block;
}

/* line 93, ../sass/_style.scss */
h3 {
  color: #B22222;
  margin-bottom: 6px;
  padding-bottom: 5px;
}

/* line 100, ../sass/_style.scss */
h4 {
  color: #B22222;
  margin: 25px 0px 13px 0px;
  padding-bottom: 5px;
}

/* line 108, ../sass/_style.scss */
h5 {
  color: #888888;
  margin-bottom: 8px;
  padding-top: 3px;
  font-weight: 600;
}

/* line 115, ../sass/_style.scss */
img {
  height: auto;
  max-width: 100%;
  float: left;
}

/* line 121, ../sass/_style.scss */
blockquote {
  display: block;
}

/* line 125, ../sass/_style.scss */
a {
  text-decoration: none;
  color: #000000;
}

/* line 130, ../sass/_style.scss */
p {
  display: block;
}

/* line 134, ../sass/_style.scss */
.container {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}
/* line 141, ../sass/_style.scss */
.container .row .box-intro {
  margin-bottom: 20px;
}

/* line 147, ../sass/_style.scss */
.button {
  background-color: #000000;
  display: inline-block;
  color: #FFFFFF;
  text-aling: center;
  text-decoration: done;
  padding: 12px 18px;
  margin-top: 14px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 157, ../sass/_style.scss */
.button:hover {
  background-color: #888888;
}

/* line 162, ../sass/_style.scss */
.line-bottom {
  border-bottom: 1px solid #888888;
}

/* line 166, ../sass/_style.scss */
.line-top {
  border-top: 1px solid #888888;
}

/* line 170, ../sass/_style.scss */
.photo-hover {
  margin: 16px 13px 8px 0;
  padding: 8px;
  float: left;
  background-color: white;
  border: 1px solid #008080;
}
/* line 178, ../sass/_style.scss */
.photo-hover img:hover {
  opacity: 0.9;
}

/* line 184, ../sass/_style.scss */
.group-12 {
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 190, ../sass/_style.scss */
.box-blockquote {
  background: #EDEDED;
  border: 1px solid #C8C8C8;
  color: #c33;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 16px;
  width: 96%;
}

/* line 201, ../sass/_style.scss */
.footer-box div {
  text-align: center;
}

/*!
 * All Rights Reserved
 * This software is proprietary information of
 * Intelligent Sense
 * Use is subject to license terms.
 * Filename: _media-queries.scss
 */
@media only screen and (max-width: 768px) {
  /* line 11, ../sass/_media-queries.scss */
  .row .col-small {
    width: 100%;
    clear: both;
  }

  /* line 15, ../sass/_media-queries.scss */
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}
@media handheld, only screen and (max-width: 600px) {
  /* line 22, ../sass/_media-queries.scss */
  nav {
    float: left;
    margin-top: 67px;
    left: 12px;
    border: none;
    width: 90%;
  }
  /* line 28, ../sass/_media-queries.scss */
  nav ul {
    margin: 0px;
    padding: 0px;
    float: none;
  }
  /* line 32, ../sass/_media-queries.scss */
  nav ul li {
    float: none;
  }
  /* line 34, ../sass/_media-queries.scss */
  nav ul li a {
    font-size: 17px;
    line-height: normal;
    color: #666666;
    text-align: left;
    text-decoration: none;
    border-bottom: 1px solid #C8C8C8;
  }
  /* line 41, ../sass/_media-queries.scss */
  nav ul li a:hover {
    color: #888;
  }

  /* line 49, ../sass/_media-queries.scss */
  .box-intro {
    width: 100%;
    position: relative;
    float: left;
    background: transparent;
    margin-top: 300px;
    margin-bottom: 20px;
  }

  /* line 58, ../sass/_media-queries.scss */
  .logo {
    margin-left: 18px;
  }
}
